In [187]:
1+2

3

In [188]:
print("hello")

hello

In [192]:
# greater number

lis = [1,5,8]
max = 0
for i in lis:
  if i > max:
    max = i
print(i)

8

In [193]:
# fibonacci series


def fib(index):
  if index <= 1:
    return(index)
  else:
    return(fib(index-1) + fib(index-2))
fib(7)
for i in range(10):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [194]:
a=0
b=1
print(a)
print(b)
n=7
for i in range(1,n):
  c=a+b
  a=b
  b=c
  print(c)

0
1
1
2
3
5
8
13

In [195]:
#numpy
import numpy as np
str=np.array([[1,2,3],[4,5,6]])
print(str.ndim)
print(str.shape)
print(str.size)
print(str.dtype)

2
(2, 3)
6
int64

In [196]:
matrix = np.mat([[1,2],
         [3,4],
         [5,6]])
print(matrix)

[[1 2]
 [3 4]
 [5 6]]

In [197]:
matrix.ndim

2

In [198]:
matrix.shape

(3, 2)

In [199]:
matrix.size

6

In [200]:
# cross product

mat1 = np.array([[1,2],[3,4],[5,6]])
mat2 = np.array([[10,-4],[3,-7],[4,8]])
cross_mat = np.cross(mat1,mat2)
print(cross_mat)

[-24 -33  16]

In [201]:
# matrix creation

mat1 = np.random.randint(1,9, size = (2,2))
print(mat1)
mat2 = np.random.randint(-9,4, size = (2,2))
print(mat2)

[[2 7]
 [6 5]]
[[-3  0]
 [ 3 -8]]

In [202]:
# cross product

cross_prod = np.cross(mat1,mat2)
print(cross_prod)

[ 21 -63]

In [203]:
# dot product

dot_prod = np.dot(mat1,mat2)
print(dot_prod)

[[ 15 -56]
 [ -3 -40]]

In [204]:
# add_prod

add_prod = np.add(mat1,mat2)
print(add_prod)

[[-1  7]
 [ 9 -3]]

In [205]:
# diabetes data
import pandas as pd

df = pd.read_csv("diabetes.csv")
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50      1.0
1            1     85.0           66.0  ...                     0.351   31      NaN
2            8    183.0            NaN  ...                     0.672   32      1.0
3            1     89.0           66.0  ...                     0.167   21      NaN
4            0    137.0           40.0  ...                     2.288   33      1.0

[5 rows x 9 columns]

In [206]:
df.isna()

     Pregnancies  Glucose  ...    Age  Outcome
0          False    False  ...  False    False
1          False    False  ...  False     True
2          False    False  ...  False    False
3          False    False  ...  False     True
4          False    False  ...  False    False
5          False    False  ...  False    False
6          False    False  ...  False    False
7          False    False  ...  False    False
8          False    False  ...  False    False
9          False    False  ...  False    False
10         False    False  ...  False    False
11         False    False  ...  False    False
12         False     True  ...  False    False
13         False    False  ...  False    False
14         False    False  ...  False    False
15         False    False  ...  False    False
16         False    False  ...  False    False
17         False    False  ...  False    False
18         False    False  ...  False    False
19         False    False  ...  False    False
20         False    False  ...  False     True
21         False    False  ...  False    False
22         False    False  ...  False     True
23         False    False  ...  False    False
24         False    False  ...  False    False
25         False    False  ...  False    False
26         False    False  ...  False    False
27         False    False  ...  False    False
28         False    False  ...  False    False
29         False    False  ...  False    False
..           ...      ...  ...    ...      ...
738        False    False  ...  False    False
739        False    False  ...  False    False
740        False    False  ...  False    False
741        False    False  ...  False    False
742        False    False  ...  False    False
743        False    False  ...  False    False
744        False    False  ...  False    False
745        False    False  ...  False    False
746        False    False  ...  False    False
747        False    False  ...  False    False
748        False    False  ...  False    False
749        False    False  ...  False    False
750        False    False  ...  False    False
751        False    False  ...  False    False
752        False    False  ...  False    False
753        False    False  ...  False    False
754        False    False  ...  False    False
755        False    False  ...  False    False
756        False    False  ...  False    False
757        False    False  ...  False    False
758        False    False  ...  False    False
759        False    False  ...  False    False
760        False    False  ...  False    False
761        False    False  ...  False    False
762        False    False  ...  False    False
763        False    False  ...  False    False
764        False    False  ...  False    False
765        False    False  ...  False    False
766        False    False  ...  False    False
767        False    False  ...  False    False

[768 rows x 9 columns]

In [207]:
df.dropna()

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50      1.0
4              0    137.0  ...   33      1.0
6              3     78.0  ...   26      3.0
7             10    115.0  ...   29      4.0
9              8    125.0  ...   54      6.0
11            10    168.0  ...   34      8.0
14             5    166.0  ...   51     11.0
15             7    100.0  ...   32     12.0
16             0    118.0  ...   31     13.0
17             7    107.0  ...   31     14.0
18             1    103.0  ...   33     15.0
19             1    115.0  ...   32     16.0
21             8     99.0  ...   50     18.0
23             9    119.0  ...   29     20.0
24            11    143.0  ...   51     21.0
25            10    125.0  ...   41     22.0
26             7    147.0  ...   43     23.0
27             1     97.0  ...   22     24.0
28            13    145.0  ...   57     25.0
29             5    117.0  ...   38     26.0
30             5    109.0  ...   60     27.0
31             3    158.0  ...   28     28.0
32             3     88.0  ...   22     29.0
33             6     92.0  ...   28     30.0
34            10    122.0  ...   45     31.0
35             4    103.0  ...   33     32.0
36            11    138.0  ...   35     33.0
37             9    102.0  ...   46     34.0
38             2     90.0  ...   27     35.0
39             4    111.0  ...   56     36.0
..           ...      ...  ...  ...      ...
738            2     99.0  ...   21    735.0
739            1    102.0  ...   42    736.0
740           11    120.0  ...   48    737.0
741            3    102.0  ...   26    738.0
742            1    109.0  ...   22    739.0
743            9    140.0  ...   45    740.0
744           13    153.0  ...   39    741.0
745           12    100.0  ...   46    742.0
746            1    147.0  ...   27    743.0
747            1     81.0  ...   32    744.0
748            3    187.0  ...   36    745.0
749            6    162.0  ...   50    746.0
750            4    136.0  ...   22    747.0
751            1    121.0  ...   28    748.0
752            3    108.0  ...   25    749.0
753            0    181.0  ...   26    750.0
754            8    154.0  ...   45    751.0
755            1    128.0  ...   37    752.0
756            7    137.0  ...   39    753.0
757            0    123.0  ...   52    754.0
758            1    106.0  ...   26    755.0
759            6    190.0  ...   66    756.0
760            2     88.0  ...   22    757.0
761            9    170.0  ...   43    758.0
762            9     89.0  ...   33    759.0
763           10    101.0  ...   63    760.0
764            2    122.0  ...   27    761.0
765            5    121.0  ...   30    762.0
766            1    126.0  ...   47    763.0
767            1     93.0  ...   23    764.0

[758 rows x 9 columns]

In [208]:
df.fillna(0)

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50      1.0
1              1     85.0  ...   31      0.0
2              8    183.0  ...   32      1.0
3              1     89.0  ...   21      0.0
4              0    137.0  ...   33      1.0
5              5    116.0  ...   30      2.0
6              3     78.0  ...   26      3.0
7             10    115.0  ...   29      4.0
8              2    197.0  ...   53      5.0
9              8    125.0  ...   54      6.0
10             4    110.0  ...   30      7.0
11            10    168.0  ...   34      8.0
12            10      0.0  ...   57      9.0
13             1    189.0  ...   59     10.0
14             5    166.0  ...   51     11.0
15             7    100.0  ...   32     12.0
16             0    118.0  ...   31     13.0
17             7    107.0  ...   31     14.0
18             1    103.0  ...   33     15.0
19             1    115.0  ...   32     16.0
20             3    126.0  ...   27      0.0
21             8     99.0  ...   50     18.0
22             7    196.0  ...   41      0.0
23             9    119.0  ...   29     20.0
24            11    143.0  ...   51     21.0
25            10    125.0  ...   41     22.0
26             7    147.0  ...   43     23.0
27             1     97.0  ...   22     24.0
28            13    145.0  ...   57     25.0
29             5    117.0  ...   38     26.0
..           ...      ...  ...  ...      ...
738            2     99.0  ...   21    735.0
739            1    102.0  ...   42    736.0
740           11    120.0  ...   48    737.0
741            3    102.0  ...   26    738.0
742            1    109.0  ...   22    739.0
743            9    140.0  ...   45    740.0
744           13    153.0  ...   39    741.0
745           12    100.0  ...   46    742.0
746            1    147.0  ...   27    743.0
747            1     81.0  ...   32    744.0
748            3    187.0  ...   36    745.0
749            6    162.0  ...   50    746.0
750            4    136.0  ...   22    747.0
751            1    121.0  ...   28    748.0
752            3    108.0  ...   25    749.0
753            0    181.0  ...   26    750.0
754            8    154.0  ...   45    751.0
755            1    128.0  ...   37    752.0
756            7    137.0  ...   39    753.0
757            0    123.0  ...   52    754.0
758            1    106.0  ...   26    755.0
759            6    190.0  ...   66    756.0
760            2     88.0  ...   22    757.0
761            9    170.0  ...   43    758.0
762            9     89.0  ...   33    759.0
763           10    101.0  ...   63    760.0
764            2    122.0  ...   27    761.0
765            5    121.0  ...   30    762.0
766            1    126.0  ...   47    763.0
767            1     93.0  ...   23    764.0

[768 rows x 9 columns]

In [209]:
df.loc[1,"BMI"]

26.6

In [210]:
df.iloc[1,5]

26.6

In [0]:
import numpy as np
df1 = pd.DataFrame(np.arange(12).reshape((4,3)),index = [['india','pakistan','srilanka','bangladesh']],columns=[['lap1','lap2','lap3']])

In [0]:
df2 = pd.DataFrame(np.arange(12).reshape((4,3)),index = [['india','newzealand','srilanka','england']],columns=[['lap1','lap2','lap3']])

In [213]:
df1

           lap1 lap2 lap3
india         0    1    2
pakistan      3    4    5
srilanka      6    7    8
bangladesh    9   10   11

In [214]:
df2

           lap1 lap2 lap3
india         0    1    2
newzealand    3    4    5
srilanka      6    7    8
england       9   10   11

In [0]:
df1.iloc[1,2] = 11

In [216]:
df1

           lap1 lap2 lap3
india         0    1    2
pakistan      3    4   11
srilanka      6    7    8
bangladesh    9   10   11

In [217]:
pd.merge(df1,df2)

  lap1 lap2 lap3
0    0    1    2
1    6    7    8
2    9   10   11

In [218]:
pd.concat([df1,df2])

           lap1 lap2 lap3
india         0    1    2
pakistan      3    4   11
srilanka      6    7    8
bangladesh    9   10   11
india         0    1    2
newzealand    3    4    5
srilanka      6    7    8
england       9   10   11

In [0]:
df3 = pd.concat([df1, df2], ignore_index=True)

In [220]:
df3

  lap1 lap2 lap3
0    0    1    2
1    3    4   11
2    6    7    8
3    9   10   11
4    0    1    2
5    3    4    5
6    6    7    8
7    9   10   11

In [221]:
pd.merge(df2,df3)

  lap1 lap2 lap3
0    0    1    2
1    0    1    2
2    3    4    5
3    6    7    8
4    6    7    8
5    9   10   11
6    9   10   11